.project-detail {
    margin-top: 70px; 
    .project-content {
        padding: 0px 70px;
        .content-left {
            background-color: #fff;
            box-shadow: 0px 0px 3px 1px #b4b2b2;
            padding-bottom: 50px;
            .content {
                .avatar {
                    .image {
                        img {
                            width: 100%;
                        }
                    }
                    .thread {
                        text-align: center;
                        margin-top: 10px;
                        span {
                            margin-right: 10px;
                        }
                    }
                }
                .infomation {
                    h5 {
                        display: inline-block;
                        padding: 10px;
                        background-color: #fff;
                        box-shadow: 1px 4px 8px #cdcdcd;
                        color: #07cb79;
                        margin: 15px 0px;
                        margin-left: 20px;
                        text-transform: uppercase;
                        font-size: 26px;
                    }
                    .item {
                        .col-5 {
                            text-align: right;
                            font-weight: 500;
                        }
                    }
                }
                .function {
                    text-align: right;
                    h5 {
                        display: inline-block;
                        padding: 10px;
                        background-color: #fff;
                        box-shadow: 1px 4px 8px #cdcdcd;
                        color: #07cb79;
                        margin: 15px 0px;
                        text-align: right;
                        text-transform: uppercase;
                        font-size: 26px;
                        margin-right: 20px;
                    }
                    p {
                        text-align: center;
                        font-size: 26px;
                        color: #868181;
                    }
                }
            }
            .left-comment {
                margin-top: 30px;
                h5 {
                    text-align: center;
                    font-size: 26px;
                    color: #07cb79;
                    text-transform: uppercase;
                }
                form {
                    width: 70%;
                    margin: auto;
                    box-shadow: 0 0 5px 3px #cdcdcd;
                    padding: 20px;
                    margin-top: 25px;
                    .form-group {
                        label {
                            text-transform: uppercase;
                        }
                        .form-control {
                            border: unset;
                            border-radius: unset;
                            border-bottom: 1px solid #ced4da;
                            &:focus {
                                box-shadow: unset;
                                border-bottom: 2px solid #07cb79;
                            }
                        }
                    }
                    .but {
                        text-align: center;
                        margin-top: 35px;
                        button {
                            border: unset;
                            padding: 7px 20px;
                            background-color: #07cb79;
                            font-weight: 500;
                        }
                    }
                }
            }
            .list-comment {
                background-color: #fff;
                width: 70%;
                margin: auto;
                box-shadow: 0 0 5px 3px #cdcdcd;
            }
        }
        .content-right {
            // background-color: #fff;
            // box-shadow: 1px 4px 8px #fff;
            .image {
                position: relative;
                transition: all 0.3s;
                top: 0px;
                box-shadow: 0px 0px 3px 1px #b4b2b2;
                img {
                   width: 100%;
                   object-fit: cover;
                }
                &:hover {
                    top: -10px; 
                }
            }
            .project-list {
                background-color: #fff;
                box-shadow: 0px 0px 3px 1px #b4b2b2;
                margin-top: 30px;
                text-align: center;
                line-height: 2.5;
                padding-top: 15px;
                position: relative;
                top: 0px;
                transition: all 0.3s;
                h5 {
                    color: #07cb79;
                    font-size: 26px;
                    text-transform: uppercase;
                }
                ul {
                    padding: 0px;
                    li {
                        list-style: none;
                        a {
                            color: rgba(0,0,0,.6);
                            font-weight: 500;
                            transition: all 0.5s;
                        }
                        &:hover {
                            a {
                                color: #07cb79;
                            }
                        }
                    }
                }
                &:hover {
                    top: -10px;
                }
            }
            .contact {
                background-color: #fff;
                box-shadow: 0px 0px 3px 1px #b4b2b2;
                margin-top: 30px;
                line-height: 2.5;
                padding-top: 15px;
                position: relative;
                top: 0px;
                transition: all 0.3s;
                h5 {
                    color: #07cb79;
                    font-size: 26px;
                    text-align: center;
                    text-transform: uppercase;
                }
                form {
                    padding: 20px;
                    .form-group {
                        label {
                            text-transform: uppercase;
                            margin-bottom: 0px;
                        }
                        .form-control {
                            border: unset;
                            border-radius: unset;
                            border-bottom: 1px solid #ced4da;
                            line-height: 1;
                            &:focus {
                                box-shadow: unset;
                                border-bottom: 2px solid #07cb79;
                            }
                        }
                    }
                    .but {
                        text-align: center;
                        margin-top: 35px;
                        button {
                            border: unset;
                            padding: 7px 20px;
                            background-color: #07cb79;
                            font-weight: 500;
                        }
                    }
                }
                &:hover {
                    top: -10px;
                }
            }
        }
    }
}
@include responsive("large"){
    .project-detail {
        .project-content {
            .content-right {
                .image {
                    img {
                        display: none;
                    }
                }
            }
        }
    }
}