.mycv {
    text-align: center;
    margin: 25px 0px;
    cursor: pointer;
    a {
        display: inline-block;
        padding: 15px 30px;
        border: 1px solid #fff;
        color: rgba(0,0,0,.6);
        font-weight: 700;
        transition: all 0.5s;
        &:hover {
            background-color: #fff;
            box-shadow: 1px 4px 16px #cdcdcd;
            color: rgba(0,0,0,.9);
        }
    }
}
.summary {
    .summary-content {
        background-color: #fff;
        text-align: center;
        padding: 20px 20px;
        h3 {
            font-size: 30px;
            font-weight: 700;
            color: rgba(0,0,0,.9);
        }
        p {
            margin-bottom: 5px;
            font-size: 19px;
            color: rgba(0,0,0,.9);
            line-height: 1.5;
        }
        p:ntd-child(1) {
            padding: 0px 50px;
        }
    }
    
}
@include responsive("medium"){
    .summary {
        .summary-content {
            p {
                font-size: 16px;
            }
        }
    }
}